body {
  font-family: sans-serif;
  background-color: white;
}
#sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sign-in input {
  width: 28rem;
  margin: 0.5rem;
  height: 2.8rem;
}
#sign-in a {
  color: black;
  margin-bottom: 1.3rem;
}
#sign-in h2 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 900;
}

#lineItems li {
  border: solid black 2px;
  width: 300px;
  margin: 0.5rem;
}

fieldset button {
  background-color: #42a5f5;
  border-radius: .5rem;
  height: 4rem;
  width: 3rem
}

.logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.carousel {
  width: 800px;
  height: 250px;
}
.carousel p {
  text-align: center;
  font-size: 1rem;
}
.carousel-inner img {
  max-width: 100%;
  max-height: 100%;
}
.carousel-caption {
  top: 0;
  bottom: auto;
}
.carousel-item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}
.card {
  width: 18rem;
  margin-top: 10px;
}
.col {
  padding-right: auto;
  padding-left: auto;
}
form {
  display: flex;
  flex-direction: column;
}
form > * {
  margin: 1rem;
}
.links {
  color: #f6e3c5;
}
.links:link {
  text-decoration: none;
}
.links:visited {
  text-decoration: none;
}
.links:hover {
  text-decoration: none;
  color: red;
  transition: all 0.7s ease;
}
.links:active {
  text-decoration: none;
}
.search {
  background-color: white;
  margin-right: 5px;
}
.search-button {
  margin-right: 2px;
}
.left-menu-button {
  background: none;
  border: none;
  color: white;
}
.left-menu-button:hover {
  border-bottom: 1px solid red;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #343a40;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal_content {
  background-color: white;
  position: absolute;
}
.bag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 3px;
  border-radius: 50%;
  background-color: gray;
  transition: all 0.7s ease;
}

.bag:hover {
  background-color: teal;
  transform: scale(1.3);
  cursor: pointer;
}

.searchResult {
  background-color: rgb(111, 182, 147);
  position: absolute;
  z-index: 3;
  text-align: center;
  text-transform: capitalize;
}