body {
  font-family: sans-serif;
  background-color: white;
}
#sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sign-in input {
  width: 28rem;
  margin: 0.5rem;
  height: 2.8rem;
}
#sign-in a {
  color: black;
  margin-bottom: 1.3rem;
}
#sign-in h2 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 900;
}

#lineItems li{
  border: solid black 2px;
  width: 300px;
  margin: .5rem
}

form {
  height: 50px;
  width: 300px;
}

fieldset button {
  background-color: #f6e3c5;
}

.logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.carousel {
  width: 800px;
  height: 250px;
}
.carousel p {
  text-align: center;
  font-size: 1rem;
}
.carousel-inner img {
  max-width: 100%;
  max-height: 100%;
}
.carousel-caption {
  top: 0;
  bottom: auto;
}
.carousel-item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}
.card {
  width: 18rem;
  margin-top: 10px;
}
.col {
  padding-right: auto;
  padding-left: auto;
}
